<li class="<%= params[:action] == "home" ? "active" : "" %>"><a href="<%= root_path %>">Home</a></li>
<li class="<%= params[:action] == "about" ? "active" : "" %>"><a href="<%= about_path %>">About</a></li>
<li class="<%= params[:action] == "stories" ? "active" : "" %>"><a href="<%= stories_path %>">Stories</a></li>
<li class="<%= params[:action] == "donate" ? "active" : "" %>"><a href="<%= donate_path %>">Donate</a></li>
<li class="<%= params[:action] == "docs" ? "active" : "" %>"><a href="<%= docs_path %>">Docs</a></li>
