<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />
  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "404kids - Missing Kids on Missing Pages" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <div class="home-images">
        <div class="large-12 columns titlebar">
          <h2>Missing Persons Near
          <input value="<%= request_city %>">
          </h2>
        </div>
        <div class="large-12 columns">
          <div class="first-block block"></div>
          <% @kids.each_with_index do |kid, index| %>
            <% clazz = index >= 23 ? " last-row" : '' %>
            <a class="bw block<%= clazz %>" style="background-image: url('http://missingkids.com/<%=kid.image_url%>');"
              data-name="<%= kid.full_name %>" data-location="<%= kid.create_full_address %>"
              href="<%= kid.missing_url %>" target="_blank"
              ></a>
          <% end %>
          <div class="block logo last-block"></div>
          <div class="popup"></div>
        </div>
      </div>
    </div>
    <div class="row news-row">
      <div class="large-12 columns newsfeed">
        <span><%= @kids.collect(&:description).join(" // ") %></span>
      </div>
    </div>
    <footer class="row">
      <ul class="footer-nav">
        <li class="active"><a href="/404">About</a></li>
        <li><a href="/404">Stories</a></li>
        <li><a href="/404">Donate</a></li>
        <li><a href="/404">How To</a></li>
      </ul>
      <ul class="social">
        <li><a href="/404" class="google"></a></li>
        <li><a href="/404" class="twitter"></a></li>
        <li><a href="/404" class="facebook"></a></li>
      </ul>
    </footer>

    <%= yield %>


    <%= javascript_include_tag "application" %>
    <%= content_for :js %>
  </body>
</html>
